* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(211, 208, 208);
}

.layout {
  max-width: 650px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: rgb(231, 229, 229);
  padding-top: 20px;
  border-radius: 10px;;
}

.scores {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
}

.heading {
  align-self: center;
  font-size: 2.5rem;
  color: teal;
  margin-top: 100px;
}

.computer-score,
.human-score {
  background-color: navy;
  color: white;
  padding: 10px 20px;
  border: 2px rgb(50, 47, 47) solid;
  border-radius: 30px;
  font-size: 1.3rem;
}

.choices {
  margin-block: 80px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.choice-button {
  border: 2px black solid;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 1.4rem;
  width: 160px;
  text-align: center;
  cursor: pointer;
}

.choice-button:hover,
.choice-button:focus-visible {
  background-color: antiquewhite;
}

.log-area {
  width: 70%;
  /* background-color: rgb(212, 212, 200); */
  align-self: center;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3rem;
  color: teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.play-again-btn {
  padding: 4px 8px;
  font-size: 1.2rem;
  background-color: rgb(142, 124, 101);
  border-radius: 10px;
  color: yellow;
  cursor: pointer;
}